/* button for grid size choice */
#gridSizeButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    /* set the height of the container to the height of the viewport */
    height: 10vh; 
  }
  
  #gridSizeButton {
    padding: 10px;
  }

/* container containing (size) divs */
#gridContainers {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    /* max-height: 960px; */
    /* gap: .5px; */
    margin-top: 10px;
}

/* (size) divs */
.gridItem {
    background-color: aqua;
    /* border: 1px solid black; */
    min-height: 10px;
    min-width: 10px;
    transition: background-color 15s ease-in-out;
}

.gridItem:hover {
    background-color: #000000;
    transition: background-color .1s ease-in-out;
    /* border: 1px solid aqua; */
  }