/* container containing 16 divs */
#gridContainers {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    gap: 10px;
    margin-top: 10px;
}

/* 16 divs */
.gridItem {
    background-color: aqua;
    border: 1px solid black;
    flex: 1 0 calc((100% - 50px) / 4);
    height: calc((100% - 50px) / 4);
}

.gridItem:hover {
    background-color: #000000;
    border: 1px solid aqua;
  }